@media (max-width: 1399.98px) {
  .container {
    width: 90%;
  }
  .categories-search__header {
    font-size: 22px;
    line-height: 26px;
    margin-right: 0px;
  } 
  .categories-search__all-categories_text {
    display: none;
  }
  .categories-search__search-form {    
    width: 90%;
  }
  .categories-search__search-form_input {
    width: 90%;
  }
  .advertisments__header {
    font-size: 22px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    width: 90%;
  }
  .categories-search__header {    
    font-size: 20px;
    line-height: 24px;
    margin-right: 0px;
  } 
  .categories-search__all-categories svg{    
    margin-right: 0px;
  }
  .categories-search__all-categories_text {
    display: none;
  }
  .categories-search__search-form {    
    width: 90%;
  }
  .categories-search__search-form_input {
    width: 90%;
  }
}
@media (max-width: 991.98px) {
  .container {
    width: 90%;
  }
  .categories-search {
    justify-content: center;
  }
  .categories-search__header {
    justify-content: center;
    font-size: 20px;
    line-height: 24px;
    margin-right: 0px;
  }
  .categories-search__all-categories {    
    width: 50px;
    margin-right: 8px;
  }
  .categories-search__all-categories svg{    
    margin-right: 0px;
  }
  .categories-search__all-categories_text {
    display: none;
  }
  .categories-search__search-form {    
    width: 80%;
  }
  .categories-search__search-form_input {
    width: 80%;
  }
  .advertisments__header {
    margin-top: 24px;
    text-align: center;
  }
}
@media (max-width: 767.98px) {
  .container {
    width: 90%;
  }
  .categories-search {
    justify-content: center;
  }
  .categories-search__header {
    justify-content: center;
    font-size: 20px;
    line-height: 24px;
    margin-right: 0px;
  }
  .categories-search__all-categories {    
    width: 50px;
    margin-right: 8px;
  }
  .categories-search__all-categories svg{    
    margin-right: 0px;
  }
  .categories-search__all-categories_text {
    display: none;
  }
  .categories-search__search-form {    
    width: 80%;
  }
  .categories-search__search-form_input {
    width: 80%;
  }
  .advertisments__header {
    margin-top: 24px;
    text-align: center;
    font-size: 20px;  
  }
}
@media (max-width: 575.98px) { 
  .container {
    width: 90%;
  }
  .categories-search {
    justify-content: center;
  }
  .categories-search__header {    
    display: none;
  }
  .categories-search__all-categories {    
    width: 50px;
  }
  .categories-search__all-categories svg{    
    margin-right: 0px;
  }
  .categories-search__all-categories_text {
    display: none;
  }
  .categories-search__search-form {    
    width: 80%;
  }
  .categories-search__search-form_input {
    width: 80%;
  }
  .advertisments__header {
    margin-top: 24px;
    text-align: center;
    font-size: 20px;
  }
}