@import 'fonts';
$primary-color: #3B82F6;
$text-color: #1E293B;
$secondary-text-color: #64748B;
$inverse-text-color: #FFFFFF;
$hover-background-color: #F1F5F9;
$forms-border-color: #CBD5E1;
$surface-border-color: #E2E8F0;
%flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}
%flex-column {
  display: flex;
  flex-direction: column;
}
body {
  font-family: "Inter-Regular", "Arial", sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  max-width: 1296px;
  width: 100%;
}
header {
  display: flex;
  width: 100%;
  height: 52px;
  background: $text-color;
}
.header-block {
  @extend %flex-row-center;
  justify-content: flex-end;  
  height: 100%;

		&__log-in {
      @extend %flex-row-center;
      margin-right: 24px;
      font-weight: 400;
      font-size: 14px;
      line-height: 0;
      color: $inverse-text-color;
      text-decoration: none;      
		}

    &__log-in:hover {
      color: $primary-color;
      transition: all .3s ease;
    }

    &__log-in svg {
      margin-right: 10.5px;
    }

		&__new-advertisement {
      @extend %flex-row-center;
      justify-content: center;
      padding: 6px 12px;
      width: 179px;
      height: 32px;
      font-weight: 500;
      font-size: 14px;
      line-height: 0;
      color: $inverse-text-color;
      background: $primary-color;
      border-radius: 4px;
      text-decoration: none;
		}

    &__new-advertisement:hover {
      background: $hover-background-color;
      color: $primary-color;
      transition: all .3s ease;
    }

    &__new-advertisement svg {
      margin-left: 9px;
    }
}
.categories-search {
  @extend %flex-row-center;
  justify-content: flex-start;
  margin-top: 24px;
  margin-bottom: 24px;
  height: 36px; 

		&__header {
      @extend %flex-row-center;
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      width: 284px;
      height: 36px;
      color: $text-color;
      margin-right: 24px;
		}

		&__all-categories {
      @extend %flex-row-center;
      justify-content: center;
      padding: 7px 12px;
      margin-right: 12px;
      width: 152px;
      height: 36px;  
      color: $primary-color;
      border: 1px solid $primary-color;
      border-radius: 4px;

			&_text {
        font-weight: 500;
        font-size: 14px;
        line-height: 0;
        text-decoration: none;
			}
		}

    &__all-categories:hover {
      background: $primary-color;
      color: $inverse-text-color;
      transition: all .3s ease;
    }

    &__all-categories svg {
      margin-right: 8.63px;
    }

		&__search-form {
      box-sizing: border-box;
      @extend %flex-row-center;
      width: 824px;
      height: 36px;
      border: none;
      border-radius: 4px;

			&_input {
        @extend %flex-column;
        align-items: flex-start;
        padding-left: 8px;
        margin: 0px -1px;
        width: 734px;
        height: 36px;
        border: 1px solid $forms-border-color;
        border-radius: 4px 0px 0px 4px;
        outline: none;
			}

      &_input:hover {
        border: 1px solid $surface-border-color;
        transition: all .3s ease;
      }

      &_input:focus {
        border: 1px solid $primary-color;
        box-shadow: 0 0 0 1px $primary-color;
        transition: all .3s ease;
      }

      &_input:focus::placeholder {
        color: transparent;
      }
		}

		&__search-button {
      @extend %flex-row-center;
      justify-content: center;
      padding: 8px 12px;
      width: 91px;
      height: 36px;
      background: $primary-color;
      border: 1px solid $forms-border-color;
      border-radius: 0px 4px 4px 0px;
      color:$inverse-text-color;
      text-decoration: none;

			&_text {
        font-weight: 500;
        font-size: 14px;  
			}
		}

    &__search-button:hover {
      background: $hover-background-color;
      color: $primary-color;
      transition: all .3s ease;
    }

    &__search-button svg {
      margin-left: 8px;
    }
}
.divider {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid $surface-border-color;
}
.advertisments {
  @extend %flex-row-center;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

		&__header {
      margin-top: 32px;
      margin-bottom: 24px;
      height: 32px;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      color: $text-color;
		}

		&__card {
      margin: 0 auto;
      @extend %flex-column;
      align-items: flex-start;
      margin-bottom: 32px;  
      height: 336px;
		}

    &__card:hover {
      border: 1px solid $primary-color;
      box-shadow: 0 0 0 1px $primary-color;
      transition: all .3s ease;
    }

		&__card-image {
      width: 100%;
      margin-bottom: 8px;
		}

		&__card-header {
      width: 100%;  
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      color: $primary-color;
		}

		&__card-price {
      width: 100%;
      height: 24px;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      color: $text-color;
		}

		&__card-location-date {
      width: 100%;  
      height: 20px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $secondary-text-color;
		}
}
